/*CUSTOM PROPERTIES*/
:root {
  /*Site Colors*/
  --grey: #4f4f4f;
  --light-blue: #0073ff;
  --dark-blue: #00264d;
  --light-grey: #8f8f8f;
  --light-black: #212121;

  --gradient: linear-gradient(
    180deg,
    rgba(0, 38, 77, 0.1) 0%,
    rgba(0, 38, 77, 0.7) 100%
  );
}

/*WEB FONTS RELATED*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v29-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  color: var(--light-black);
}
.container {
  max-width: 1360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* SITE_HEADER */
.site-header {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 60px;
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo-link__img {
  display: block;
}
.form__field {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.form__select {
  border: none;
  margin-right: 33px;
  text-transform: uppercase;
}
.form__search-toggler {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 32px;
  background-image: url(/img/search-icon.png);
}
.form__field img {
  display: block;
}
.form__search-input {
  width: 400px;
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px solid var(--light-grey);
  position: absolute;
  top: 0;
  left: 300px;
  display: none;
}
.open {
  display: block;
}
.form__search-toggler-open {
  background-image: url("/img/close.svg");
}
/* SITE_MAIN */
.site-main {
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 42px;
}
.site-main__heading {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 40px;
}
.main-form {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.main-form__select {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
  margin-right: 12px;
}

.all-news__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.news {
  display: grid;
  grid-template-columns: repeat(4, 312px);
  grid-template-rows: 320px 320px 320px;
  gap: 24px;
  margin-bottom: 64px;
}
.news__item {
  width: 312px;
  padding: 16px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background: var(--gradient), url(/img/prezident.png);
  background-size: 312px 320px, cover;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.news__item-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.item-info__time {
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
  padding-right: 10px;
  margin-right: 10px;
}
.item-info__time::before {
  content: "";
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(/img/calendar-white.svg);
  background-size: contain;
  margin-right: 10px;
}
.item-info__watch {
  display: flex;
  align-items: center;
}
.item-info__watch::before {
  content: "";
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(/img/eye-white.png);
  background-size: 16px 16px, contain;
  margin-right: 10px;
}
.news__link {
  color: #fff;
  letter-spacing: 0.1px;
  font-size: 15px;
  text-decoration: none;
}
.news__link::before {
  content: "";
  width: 100%;
  position: absolute;
  height: auto;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.all-news__card img {
  display: block;
}
.all-news__card {
  border-radius: 8px;
  position: relative;
  margin-right: 32px;
}
.all-news__info {
  position: absolute;
  left: 50px;
  top: 75%;
  z-index: 999;
}
.all-news__info .item-info__time,
.item-info__watch {
  color: #fff;
}
.all-news__col {
  display: flex;
  align-items: start;
}
.all-news__col:first-child {
  margin-bottom: 32px;
}
.all-news__col-info {
  margin-left: 16px;
}
.all-news__col-info,
.park .item-info__watch {
  color: var(--light-grey);
}
.all-news__col-info,
.park .item-info__watch::before {
  background-image: url(/img/eye.png);
  background-repeat: no-repeat;
}
.park .item-info__time {
  color: var(--light-grey);
  border-right: 1px solid #000;
}
.all-news__col-info,
.park .item-info__time::before {
  background-image: url(/img/calendar.png);
  background-repeat: no-repeat;
}
.all-news__col-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--dark-blue);
  margin-bottom: 8px;
  text-decoration: none;
}
.all-news__col-text {
  font-weight: normal;
}
.site-footer {
  background-color: var(--dark-blue);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: auto;
}
.site-footer__copy {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin: 0;
}

/* PAGE_STYLES */
.park__wrapper {
  display: flex;
  align-items: start;
}
.park__card {
  width: 635px;
  margin-right: 32px;
}
.park__col {
  display: flex;
  align-items: start;
  margin-bottom: 24px;
}
.park__col-info {
  margin-left: 16px;
}
.park__cols-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark-blue);
}
.park__col-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--dark-blue);
  width: 270px;
}
.more__btn {
  width: 100%;
  border: 1px solid var(--light-grey);
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}
.share__btn {
  width: 152px;
  padding: 8px 12px;
  background-color: var(--light-blue);
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  padding-right: 30px;
}
.share__img svg {
  position: absolute;
  top: 8px;
  right: 12px;
}
.share__btn:hover {
  background-color: #fff;
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}
.share__btn:hover path {
  fill: blue;
}
.same-news {
  display: grid;
  grid-template-columns: repeat(4, 312px);
  grid-template-rows: 320px;
  gap: 24px;
  margin-top: 48px;
}
@media only screen and (max-width: 905px) {
  .form__search-input {
    width: 30%;
  }
}
@media only screen and (max-width: 745px) {
  .form__search-input {
    left: 200px;
  }
}
@media only screen and (max-width: 745px) {
  .form__search-input {
    top: 120%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 405px) {
  .main-form {
    flex-direction: column;
  }
  .main-form__select {
    margin-right: 0;
    margin-bottom: 12px;
    width: 100%;
  }
  .site-main__heading {
    text-align: center;
  }
}
